.container {
    max-width: 960px;
  }

.site-main-logo {
  width: 200;
  height: 200;
  border-radius: 8px;
}
.site-bg-hero {
  background: url(hero.png);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.16), rgb(0 0 0 / 16%)), url(hero.png);
  background: linear-gradient(rgb(0 0 0 / 16%), rgb(0 0 0 / 16%)), url(hero.png);
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}


/*
  * Extra utilities
  */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.btn-grover {
  color: #ffffff;
  background-color: #3c8c99;
  border-color:#3c8c99
}

.btn-grover:hover {
  color: #ffffff;
  background-color:#4aa3b1;
  border-color: #3c8c99
}

.btn-grover:focus,
.btn-grover.focus {
  box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}