.reviews-cards-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.review-card {
    display: flex;
    flex-direction: column;
    width: 560px
}

#review-card-1 {
    border-right: 1px solid rgba(0,0,0,0.1)
}

.review-card-title {
    margin: 0 48px 16px 48px
}

.review-card-body {
    margin: 0 48px 0 48px
}

.review-card-logo-wc {
    width: 200px;
    margin-left: 48px;
    margin-top: 48px
}

.review-card-logo-softpedia {
    width: 161px;
    margin-left: 48px;
    margin-top: 34px
}

@media only screen and (max-width: 1120px) {
    .review-card {
        width:460px
    }

    .review-card-logo-wc {
        margin-top: 80px
    }

    .review-card-logo-softpedia {
        margin-top: 40px
    }
}

@media only screen and (max-width: 900px) {
    .reviews-cards-wrapper {
        flex-direction:column
    }

    .reviews-heading {
        margin-bottom: 32px
    }

    .review-card {
        width: 522px;
        border-right: none !important;
        border-bottom: 1px solid rgba(0,0,0,0.1)
    }

    .review-card-title {
        margin-top: 40px;
        margin-left: 0
    }

    .review-card-body {
        margin-left: 0;
        margin-right: 0
    }

    .review-card-logo-wc {
        margin-left: 0;
        margin-top: 48px;
        margin-bottom: 48px
    }

    .review-card-logo-softpedia {
        margin-left: 0;
        margin-top: 32px;
        margin-bottom: 48px
    }
}

@media only screen and (max-width: 724px) {
    .review-card-logo-wc {
        margin-top:40px;
        margin-bottom: 40px
    }

    .review-card-logo-softpedia {
        margin-top: 40px;
        margin-bottom: 40px
    }
}

@media only screen and (max-width: 580px) {
    .review-card {
        width:420px
    }
}

@media only screen and (max-width: 460px) {
    .review-card {
        width:320px
    }
}

@media only screen and (max-width: 360px) {
    .review-card {
        width:300px
    }
}

@media only screen and (max-width: 340px) {
    .review-card {
        width:280px
    }
}
